<h1>設定</h1>

<h2>アカウント</h2>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>パスワード</h3>
<h5>*********</h5>

<%= link_to "プロフィール", users_profile_path %>
<%= link_to "編集", profile_edit_path %>

<p>Find me in app/views/users/show.html.erb</p>
